container_commands:
  01_move_nginx_conf:
    command: mv /etc/nginx/nginx.conf /etc/nginx/nginx.conf_orig
  02_link_nginx_conf:
    command: ln -s /opt/python/current/app/ConnectMe/templates/nginx/nginx.conf /etc/nginx/nginx.conf
  03_move_nginx_html:
    command: mv /usr/share/nginx/html /usr/share/nginx/html_orig
  04_link_html:
    command: ln -s /opt/python/current/app/ConnectMe/templates/html /usr/share/nginx/html
